
body{
  position: absolute;
  height: 1100px;
  width: 100%;
}
#longe{
  position: absolute;
  height: 100%;
  width: 100%;
}
#coverpage{
  position: absolute;
  height: inherit;
  width: 100%;
}
.row .col{
  height: inherit;
}
#lyricl{
  height:600px;
  width:400px;
  margin: 0px;
  border:1px solid #ccc;
  overflow:auto;
}
#lyricr{
  height:600px;
  width:400px;
  margin: 0px;
  border:1px solid #ccc;
  overflow:auto;
}
@font-face{
  font-family: 'graffonti';
  src: url('../fonts/graffonti-3d-drop/graffonti.3d.drop.[fontvir.us].ttf');
}
@font-face {
    font-family: 'Disko';
    src: url('../fonts/disko/Disko.ttf');
}
@font-face {
  font-family: 'Street Soul'
  src: url('../fonts/street-soul/street soul.ttf');
}
#streetsoul{
  font-family: graffonti;
  font-size: 8vw;
}
#graffonti{
  font-family: graffonti;
}
#diskobar{
  font-family: Disko;
}
#graff{
  font-family: Street Soul;
  font-size: 7vw;
}
